@use "../../utils/mq";

$connect-accent: #a05033;

section#connect {
    text-align: center;
    background: #f27b50;

    .section-label {
        color: $connect-accent;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .connect-content {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        border-bottom: 2.2px dashed $connect-accent;

        @include mq.mq($from: tablet) {
            p {
                width: 70%;
                margin: 0 auto;
            }
        }
    }

    .connect-platforms {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;

        @include mq.mq($from: tablet) {
            width: 70%;
        }
    }

    .email {
        font-size: 1.3rem;
        letter-spacing: 1px;

        &:hover {
            text-decoration: underline;
        }

        @include mq.mq($from: tablet) {
            font-size: 1.75rem;
        }
    }

    .platforms {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 7.5rem;

        @include mq.mq($from: tablet) {
            width: 12rem;
        }
    }

    .platform {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            text-decoration: underline;
        }

        &-name {
            font-size: 1.25rem;
            margin-top: 0.5rem;
            display: none;
        }

        &-logo svg {
            width: 2.25rem;
            height: 2.25rem;

            @include mq.mq($from: tablet) {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

    .linkedIn-logo,
    .github-logo {
        fill: $connect-accent;
    }

    .platform-logo-github:hover .github-logo {
        fill: #fff;
    }

    .platform-logo-linkedIn:hover .linkedIn-logo {
        fill: #0a66c2;
    }
}
