@use "../../utils/mq";

section#home {
    padding: 0;
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;

        &-copy {
            .typewriter {
                border-right: 2px solid black; // blinking cursor
                padding-right: 2px; // optional spacing
                white-space: nowrap;
                word-break: keep-all;
                overflow: hidden;
                flex-shrink: 0;

                @keyframes blink {
                    0%,
                    50%,
                    100% {
                        border-color: black;
                    }
                    25%,
                    75% {
                        border-color: transparent;
                    }
                }

                animation: blink 2600ms step-end infinite;
            }
            h1 {
                font-family: "EB Garamond", serif;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.15rem;
                font-weight: 400;
                line-height: 2rem;
                letter-spacing: 0.5px;
            }
        }

        &-image img {
            object-fit: cover;
            border-radius: 50%;
            border-radius: 0.25rem;
            width: 375px;
            height: 375px;
            border-radius: 50%;
        }

        @include mq.mq($until: tablet) {
            text-align: center;

            &-image {
                margin-bottom: 2rem;

                img {
                    max-width: 400px;
                    object-fit: cover;

                    height: 200px;
                    width: 200px;
                }
            }
        }

        @include mq.mq($from: tablet) {
            flex-direction: row-reverse;
            justify-content: space-around;
            padding: 3rem 0;

            .break-mobile {
                display: none;
            }
            &-copy {
                width: 55%;
            }
            &-image {
                width: auto;
            }
        }
    }
}
