<header class="primary">
    <div class="wrapper">
        <div class="header-inner">
            <div class="header-container">
                <div class="logotype">amin.sh</div>
                <button class="burger">||</button>
            </div>
            {% include "partials/nav.njk" %}
        </div>
    </div>
</header>