@use "../../utils/mq";

nav.primary {
    position: relative;
    min-width: 100%;
    max-height: 0px;
    left: 100%;

    transition: max-height 300ms ease-in-out;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        &[data-in-viewport="true"] {
            background-color: purple;
        }
        display: block;
        text-align: center;
        background-color: red;
        padding: 0.5rem 0;
        transition: transform 500ms ease-in-out;

        &.activeSlideIn {
            transform: translateX(-100%);
        }
    }

    @include mq.mq($from: tablet) {
        position: relative;
        min-width: auto;
        max-height: fit-content;
        left: auto;
        a {
            transform: none;
        }

        &.activeSlideIn {
            transform: none;
        }
        ul {
            display: flex;
            gap: 3rem;
        }
    }
}
