<section class="section" data-link-id="1" id="home">
    <div class="wrapper">
        <div class="hero">
            <div class="hero-image">
                <img src="/assets/images/hero-bw.jpeg" alt="">
            </div>
            <div class="hero-copy">
                <h1>I translate
                    <span style="color:#F27B50">visions&nbsp;
                    </span>
                    <br class="break-mobile">into
                    <span class="typewriter" style="color:#00939E">reality</span>.
                </h1>
                <p>I’m a full-stack developer in training, using AI to work across interfaces, application logic, and the systems underneath.</p>
            </div>
        </div>
    </div>
</section>
