<section class="section" data-link-id="1" id="home">
    <div class="wrapper">
        <div class="hero">
            <div class="hero-image">
                <img src="/assets/images/hero-bw.jpeg" alt="">
            </div>
            <div class="hero-copy">
                <h1>I translate
                    <span style="color:#F27B50">Visions&nbsp;
                    </span>
                    <br class="break-mobile">into
                    <span class="typewriter" style="color:#00939E">Reality</span>.
                </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, ducimus tenetur amet natus voluptatem omnis vel.</p>
            </div>
        </div>
    </div>
</section>