{% extends "src/_layouts/base.njk" %}
{% block content %}
    {% include "_sections/home.njk"%}
    {% include "_sections/about.njk"%}
    {% include "_sections/projects.njk"%}
    {% include "_sections/skills.njk"%}
    {% include "_sections/connect.njk"%}
{% endblock %}