---
title: amin.sh
---

{% extends "src/_layouts/base.njk" %}
{% block content %}
    <section id="home" style="height:100vh;width:100%; background:yellow"></section>
    <section id="projects" style="height:100vh;width:100%; background:red"></section>
    <section id="about" style="height:100vh;width:100%; background:blue"></section>
{% endblock %}