<nav class="primary">
    <ul>
        <li><a data-target="body" href="#home">Home</a></li>
        <li><a data-target="#projects" href="#projects">Projects</a></li>
        <li><a data-target="#about" href="#about">About</a></li>
    </ul>
</nav>