<nav class="primary">
    <ul>
        <li><a data-in-viewport="false" data-link-id="1" data-target="#home" href="#home">Home</a></li>
        <li><a data-in-viewport="false" data-link-id="2" data-target="#about" href="#about">About</a></li>
        <li><a data-in-viewport="false" data-link-id="3" data-target="#skills" href="#skills">Skills</a></li>
        <li><a data-in-viewport="false" data-link-id="4" data-target="#connect" href="#connect">Connect</a></li>
    </ul>
</nav>